@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #828282;
}

h1 {
    color: #575757;
    font-size: 60px;
    line-height: 75px;
}
h2 {
    color: #575757;
    font-size: 40px;
}
h3 {
    color: #575757;
    font-size: 30px;
    margin-top: 40px;
}
h4{
    color: #18191E;
    font-size: 50px;
}
p {
    margin: 30px 0;
    font-size: 20px;
    line-height: 35px;
}
/* FIRST SECTION */

.flex-container {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.half-width {
    width: 50%;
}
.info {
    margin-left: 100px;
}
.mark {
    color: #FC8B47;
}
.half-width img {
    width: 90%;
}
.cta {
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    background-image: linear-gradient(to right, #FC8B47,tomato);
}

/* ABOUT ME SECTION */

.about-me {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me img {
    width: 40%;
    padding-top: 100px;
    padding-left: 100px;
}
.about-me p {
    margin-bottom: 90px;
    padding-right: 100px;
}

/* MY RECIPIES SECTION */

#my-recipies {
    margin-top: 60px;
    text-align: center;
}
.card {
    width: 25%;
    margin: 15px;
    padding: 20px;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(156, 155, 155);
}
.card img {
    width: 100%;
}
.card p {
    margin: 15px 0;
}
.follower-tab {
    width: 87%;
    margin: auto;
    margin-top: 150px;
    padding: 50px 0;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(156, 155, 155);
}
.follower-tab p {
    margin: 0;
}
.box {
    margin: 0 80px;
}